<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/92202f0d48.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header>
        <div class="box-top">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo>
            <form class="box-busqueda">
                <input type="search" name="search" placeholder="Busca tu producto...">
                <button type="submit">Buscar</button>
            </form>
            <h2 class="text-p">
                <i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <nav class="main-navbar">
            <ul class="">
                <li><a href=""> Oferta</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="fa-sharp fa-solid fa-id-card"></i></a></li>
                <li><a href="login">Ingresá <i class="fa-sharp fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="/">Mis Compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
        <img class="imagen-banner" src="/images/img-home-banner.jpg" alt="promoción">
    <main>
        <h3 class="titulares" align="center">Basado en tu última visita</h3>
        <section class="box-articulos">
            <div class="div-card">
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <article>
                    <i class="camion fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p><strong class="descripciones"> Cafetera Moulinex </strong></p>
                </article>
            </div>
            <div class="div-card">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <article>  
                    <i class="camion fa-solid fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p><strong class="descripciones"> MacBook Pro 2019 </strong></p>
                </article>
            </div>
                
            <div class="div-card">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <article>
                    <i class="camion fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p><strong class="descripciones"> Samsung Galaxy S10 </strong></p>
                </article>
            </div>
            <div class="div-card">
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <article>
                    <i class="camion fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <p><strong class="descripciones"> "SmartTv Samsung 43" </strong></p>
                <article>
            </div>
        </section>
        <h3 class="titulares" align="center">Sección de Ofertas</h3>
        <section class="box-articulos">
            <div class="div-card">
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <article>
                    <i class="camion fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <p><strong class="descripciones"> Cafetera Moulinex </strong></p>
                </article>
            </div>
            <div class="div-card">
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <article>  
                    <i class="camion fa-solid fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p><strong class="descripciones"> MacBook Pro 2019 </strong></p>
                </article>
            </div>
            <div class="div-card">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <article>
                    <i class="camion fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p><strong class="descripciones"> Samsung Galaxy S10 </strong></p>
                </article>
            </div>
            <div class="div-card">
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <article>
                    <i class="camion fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <p><strong class="descripciones"> "SmartTv Samsung 43" </strong></p>
                <article>
            </div>
        </section>
    </main>
    <footer>
        <ul>
            <li>
                <a href=""><i class="fa-sharp fa-solid fa-credit-card"></i></a>
                <p>
                    <strong>Pagá con tarjeta o en efectivo</strong>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </li>
            <li>
                <a href=""><i class="fa-sharp fa-solid fa-gift"></i></a>
                <p>
                    <strong>Envío gratis desde $ 2.500</strong>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </li>
            <li>
                <a href=""><i class="fa-sharp fa-solid fa-user-shield"></i></a>
                <p>
                    <strong>Seguridad, de principio a fin</strong>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </li>
        </ul>
        <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong>
    </footer>
   
</body>
</html>
